/* Global */

/* 
Colors
-Orange: #f9891a;
-Gray: #939598;
-Red: #b71922;
-Teal: #00babf;
-Beige: #faf8f3;
-Gold: #c4b02f;
-DarkGray: #6d6e71;
*/
body {
	font-family: open-sans, sans-serif;
}
.row {
	overflow: hidden;
}
.container-fluid {
	overflow: hidden;
}
/* Header/Navbar */
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	height: 110px;
	background-color: #fff;
}
.navbar-default .container .navbar-collapse.collapse {
	position: relative;
	height: 110px!important;
}
/* Navbar-Toggle Menu-button */
.navbar-toggle {
	background-color: transparent;
	border: none;
}
.navbar-toggle span.icon-bar {
	height: 6px;
	width: 36px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;	
}
.navbar-default .navbar-toggle:hover > span, .navbar-default .navbar-toggle:focus > span {
	background-color: #f9891a;
}
	/* Top Nav*/
.navbar-collapse .top-nav {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100% auto;
}
.navbar-default .top-nav ul.list-inline {
	list-style-type: none;
	margin-top: 15px;
}
.navbar-default .top-nav ul.list-inline li a {
	color: #939598;
}
.navbar-default .top-nav ul.list-inline li.social {
	padding-right: 4px;
}
.navbar-default .top-nav ul.list-inline li.social a i.fa {
	font-size: 20px;
}
.navbar-default .top-nav ul.list-inline li.top-link {
	padding-left: 20px;
}
.navbar-default .top-nav ul.list-inline li.top-link-alt {
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid #000;
}
.navbar-default .top-nav ul.list-inline li.top-link-alt a {
	color: #f9891a;
}
.navbar-default .top-nav ul.list-inline li.top-link-alt a i.fa {
	color: #f9891a;
	font-size: 18px;
	line-height: 1;
}

.navbar-default .top-nav ul.list-inline li.search input.form-control {
	background-color: transparent;
	border: none;
	box-shadow: none;
	text-align: left;
}
.navbar-default .top-nav ul.list-inline li.search button.btn-default {
	background-color:transparent;
  border:0px;
  color: #939598;
  font-size:14px;
  padding:3px;
	opacity: 1.0;
}

	/* Main Nav */
.navbar-nav {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 17px;
}
.navbar-static-top {
	border-bottom: none;
}
	/* top-level */
.navbar-default .navbar-nav>a {
	color: #939598;	
}
.navbar-default .navbar-nav .open a:focus {
	background-color: transparent;
	color: #f9891a;
}
.navbar-default .navbar-nav>.active>a{
	color: #f9891a;
	background-color: transparent;
} 
.navbar-default .navbar-nav>.active>a:hover{
	color: #333;
	background-color: transparent;
} 
	/* second level */

.navbar-default .navbar-nav li > ul.dropdown-menu {
	border-top: none;
	padding: 0px;
}
.navbar-default .navbar-nav li > ul.dropdown-menu li {
	text-align: center;
}
.navbar-default .navbar-nav li > ul.dropdown-menu li a {
	color: #939598;
	font-size: 17px;
	padding: 10px 40px 8px 40px;
}
.navbar-default .navbar-nav li > ul.dropdown-menu li.active a {
	color: #f9891a;
}
.navbar-default .navbar-nav li > ul.dropdown-menu li.active a:focus {
	
}
.navbar-default .navbar-nav li > ul.dropdown-menu li a:hover {
	color: #f9891a;
	background-color: rgba(255,255,255,0.9);
}

/* Navbar.Scrolled */
.navbar-default.scrolled {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	transition: height linear 0.2s;
	-webkit-transition: height linear 0.2s;
}
		/* WP Admin-bar Adjustment */
.admin-bar .navbar-default.scrolled {
	top: 32px;
}
		/* ----------------------- */
	
	/* Scrolled Logo */
.navbar-default.scrolled .navbar-header .navbar-brand {
	max-height: 60px;
	height: 60px;
	transition: height linear 0.2s;
	-webkit-transition: height linear 0.2s;
}
.navbar-default .navbar-header .navbar-brand img {
	height: 72px;
}
.navbar-default.scrolled .navbar-header .navbar-brand img {
	height: 60px;
	transition: height linear 0.2s;
	-webkit-transition: height linear 0.2s;
	position: absolute;
	top: 10px;
}
	/* Scrolled Top-Nav */
.navbar-default.scrolled .navbar-collapse .top-nav {
	display: none;
}
	/* Scrolled Main-nav */
.navbar-default.scrolled .navbar-collapse .navbar-nav {
	position: absolute;
	top: 18px;
	right: 0px;
}
	/* Scrolled dropdown menus */
.navbar-default.scrolled ul#menu-main-nav li>ul.dropdown-menu {
	margin-top: 12px;
	transition: margin linear 0.2s;
	-webkit-transition: margin linear 0.2s;
}


/* Hero Image */
section.hero {
	width: 100%;
	height: 368px;
	background-image: url(../img/bloom&glow.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 0;
}
section.hero .advancing {
	background-image: url(../img/circle-futures.png);
	background-repeat: no-repeat;
	position: absolute;
	left: 64%;
	bottom: -5px;
	width: 305px;
	height: 225px;
}


/* Theme - "Join,Discover,Connect" */
section.theme {
	padding: 40px 0px 20px 0px;
}
section.theme .row .col-xs-4 {
	text-align: center;
}
section.theme .col-xs-4 a {
	opacity: 1.0;
	height: auto;
	width: auto;
}
section.theme .col-xs-4 a:hover {
	opacity: 0.6;
	transition: opacity linear 0.2s;
	text-decoration: none;
}
section.theme .col-xs-4 a > p {
	opacity: 1.0;
}
section.theme .col-xs-4 a:hover > p  {
	opacity: 0.6;
	transition: opacity linear 0.2s;
}
section.theme .row .col-xs-4 img {
	min-height: 110px;
}
section.theme .col-xs-4 p.join {
	color: #f9891a;
	padding-top: 20px;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
section.theme .col-xs-4 p.discover {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 600;
	color: #00babf;
	text-transform: uppercase;
}
section.theme .col-xs-4 p.connect {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 600;
	color: #b71922;
	text-transform: uppercase;
}

/* Featured News */
section.news {
	background-color: #faf8f3;
	width: 100%;
	padding: 50px 0px;
}
section.news span {
	height: 150px;
	min-height: 150px;
	width: 100%;
	overflow: hidden;
}
section.news span img {
	height: 100%;
	max-height: 150px;
	width: 100%;
	padding-bottom: 20px;
}
section.news h4 {
	text-transform: uppercase;
	font-weight: 600;
	padding-bottom: 5px;
}
section.news strong {
	display: block;
	padding-bottom: 15px;
	font-size: 15px;
}
section.news p {
	color: #6d6e71;
}
section.news a {
	color: #6d6e71;
	font-weight: 600;
	font-size: 15px;
}
section.news .red1 {
	color: #b71922;
}
section.news .blue2 {
	color: #00babf;
}
section.news .gold3 {
	color: #c4b02f;
}
section.news .orange4 {
	color: #f9891a;
	position: relative;
}
section.news .orange4 ul {
	list-style-type: none;
	height: auto;
	width: 100%;
	position: absolute;
	left: 0;
	padding: 0px 18px 0px 18px;
}
section.news .orange4 ul li:first-child {
	padding-top: 4px;
	height: 49px;
}
section.news .orange4 ul li {
	position: relative;
	display: inline-block;
	height: 60px;
	width: 90%;
	padding-top: 8px;
	border-bottom: 1px solid #939598;
}
section.news .orange4 ul li a {
	color: rgba(109,110,113,1.0);
	font-weight: 600;
	font-size: 14px;
}
section.news .orange4 ul li a:hover {
	color: rgba(109,110,113,0.7);
	text-decoration: none;
}
section.news .orange4 ul li img {
	position: absolute;
	left: 0;
}
section.news .orange4 ul li p {
	position: absolute;
	right: 0;
	text-align: left;
	line-height: 1.4;
	width: 80%;
	padding-left: 14px;
	margin-bottom: 8px;
}
	

/* Sponsors */
section.sponsors {
	border-top: 1px solid rgb(221, 221, 221);
}
section.sponsors h3 {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
	color: #6d6e71;
}
section.sponsors .col-sm-4 {
	text-align: center;
	padding: 40px 0px;
}

/* Footer */
.site-footer {
	width: 100%;
	padding-top: 0px!important;
}
.foot {
	padding: 30px 0px 10px 0px;
	background-color: #f9891a;
	color: #fff;
}
.foot p strong {
	font-size: 15px;
	letter-spacing: 1px;
}
.foot p {
	font-weight: 300;
}
.foot a {
	color: #fff;
}
.foot a:hover {
	color: #939598;
	text-decoration: none;
}
.foot ul li {
	border-right: 1px solid #fff;
	padding-right: 10px;
	margin-right: 5px;
	font-weight: 300;
}
.foot ul li i.fa {
	font-size: 16px;
	font-weight: 500;
}
.foot ul li:last-child {
	border-right: none;
}
.foot ul li:last-child a {
	padding-left: 5px;
}
.site-sub-footer {
	padding-top: 20px;
}

/* Inside Template */


.contents header h2 {
	color: #b71922;
	font-weight: 600;
	padding: 20px 0px;
}
.contents p {
	font-size: 16px
}
.sidebars {
	background-color: #faf8f3;
	height: 100%;
}
.sidebars .col-xs-12 {
	text-align: center;
}
.sidebars .col-xs-12 a {
	opacity: 1.0;
	height: auto;
	width: auto;
}
.sidebars .col-xs-12 a:hover {
	opacity: 0.6;
	transition: opacity linear 0.2s;
	text-decoration: none;
}

.sidebars .col-xs-12 a > p {
	opacity: 1.0;
}
.sidebars .col-xs-12 a:hover > p  {
	opacity: 0.6;
	transition: opacity linear 0.2s;
}
.sidebars .col-xs-12.join {
	padding-top: 40px;
}
.sidebars .col-xs-12.join p {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #f9891a;
	padding: 10px 0px 20px 0px
}
.sidebars .col-xs-12.discover p {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #00babf;
	padding: 10px 0px 20px 0px
}
.sidebars .col-xs-12.connect p {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #b71922;
	padding: 10px 0px 10px 0px;
}
.sidebars .col-xs-12.connect {
	padding-bottom: 40px;
}
.sidebars .col-xs-12 p {
	padding-bottom: 20px;
	margin: 0 auto;
}
	
	


@media (min-width: 768px) and (max-width: 993px) {
   .navbar-collapse.collapse {
       display: none !important;
   }
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.navbar-toggle {
		display: block;
		position: absolute;
		top: 30px;
		right: 20px;
	}
}

@media (max-width: 993px) {
	.top-nav {
		display: none;
	}
	ul.navbar-nav {
		position: relative;
		margin: 0px auto;
		margin-top: 60px;
		text-align: center;
		background-color: rgba(255,255,255,0.9);
	}
	.navbar-default .container .navbar-collapse.collapse {
		height: auto;
		width: 100%;
	}
	.collapsing {
		height: 0px;
	}
	ul.navbar-nav li {
		width: 100%;
	}
	
	
	
}















































/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 40px
}
#content header {
  margin: 20px 0
}
#content section {
  margin-bottom: 20px
}
#content footer {
  padding-bottom: 20px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/

#respond {
  margin-top: 40px
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/*
Site footer
*/

.site-footer {
  padding: 40px 0
}
.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}
